<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>icon1-down.png</key>
		<dict>
			<key>Group</key>
			<string>Assets</string>
			<key>Path</key>
			<string>icon1-down.png</string>
		</dict>
		<key>icon1-down@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Assets</string>
			<key>Path</key>
			<string>icon1-down@2x.png</string>
		</dict>
		<key>icon1.png</key>
		<dict>
			<key>Group</key>
			<string>Assets</string>
			<key>Path</key>
			<string>icon1.png</string>
		</dict>
		<key>icon1@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Assets</string>
			<key>Path</key>
			<string>icon1@2x.png</string>
		</dict>
		<key>icon2-down.png</key>
		<dict>
			<key>Group</key>
			<string>Assets</string>
			<key>Path</key>
			<string>icon2-down.png</string>
		</dict>
		<key>icon2-down@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Assets</string>
			<key>Path</key>
			<string>icon2-down@2x.png</string>
		</dict>
		<key>icon2.png</key>
		<dict>
			<key>Group</key>
			<string>Assets</string>
			<key>Path</key>
			<string>icon2.png</string>
		</dict>
		<key>icon2@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Assets</string>
			<key>Path</key>
			<string>icon2@2x.png</string>
		</dict>
		<key>main.lua</key>
		<dict>
			<key>Path</key>
			<string>main.lua</string>
		</dict>
		<key>view1.lua</key>
		<dict>
			<key>Path</key>
			<string>view1.lua</string>
		</dict>
		<key>view2.lua</key>
		<dict>
			<key>Path</key>
			<string>view2.lua</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>main.lua</string>
		<string>icon1-down.png</string>
		<string>icon1-down@2x.png</string>
		<string>icon1.png</string>
		<string>icon1@2x.png</string>
		<string>icon2-down.png</string>
		<string>icon2-down@2x.png</string>
		<string>icon2.png</string>
		<string>icon2@2x.png</string>
		<string>view1.lua</string>
		<string>view2.lua</string>
	</array>
	<key>Description</key>
	<string>This template provides a starting point for creating apps with Solar2D.</string>
	<key>Identifier</key>
	<string>net.shakebrowser.corona.app</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>ProjectOnly</key>
	<false/>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.tool</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.coronaTarget</string>
		</dict>
	</array>
	<key>Ancestors</key>
	<array>
		<string>net.shakebrowser.corona.base</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Phone Preset</string>
			<key>Description</key>
			<string>The device type you want to target</string>
			<key>Identifier</key>
			<string>devicePresetConfig</string>
			<key>Name</key>
			<string>Device Type</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Phone Preset</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>config.lua</key>
							<dict>
								<key>Path</key>
								<string>../_config/config_phone.lua</string>
							</dict>
							<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Supporting Files</string>
								</array>
								<key>Path</key>
								<string>../_schemes/___PACKAGENAME___iPhone.xcscheme</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>config.lua</string>
							<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</string>
						</array>
					</dict>
				</array>
				<key>Tablet Preset</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>config.lua</key>
							<dict>
								<key>Path</key>
								<string>../_config/config_tablet.lua</string>
							</dict>
							<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Supporting Files</string>
								</array>
								<key>Path</key>
								<string>../_schemes/___PACKAGENAME___iPad.xcscheme</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>config.lua</string>
							<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</string>
						</array>
					</dict>
				</array>
				<key>Universal Preset</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>config.lua</key>
							<dict>
								<key>Path</key>
								<string>../_config/config_universal.lua</string>
							</dict>
							<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Supporting Files</string>
								</array>
								<key>Path</key>
								<string>../_schemes/___PACKAGENAME___universal.xcscheme</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>config.lua</string>
							<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</string>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>orientationSettings</key>
							<string>Landscape</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>build.settings</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>build.settings</key>
							<dict>
								<key>Path</key>
								<string>../_settings/build_universal_landscape.settings</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>orientationSettings</key>
							<string>Portrait</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>build.settings</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>build.settings</key>
							<dict>
								<key>Path</key>
								<string>../_settings/build_universal_portrait.settings</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Values</key>
			<array>
				<string>Phone Preset</string>
				<string>Tablet Preset</string>
				<string>Universal Preset</string>
			</array>
		</dict>
		<dict>
			<key>Default</key>
			<string>Portrait</string>
			<key>Description</key>
			<string>The screen orientation of your project</string>
			<key>Identifier</key>
			<string>orientationSettings</string>
			<key>Name</key>
			<string>Default Orientation</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Landscape</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>build.settings</key>
							<dict>
								<key>Path</key>
								<string>../_settings/build_landscape.settings</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>build.settings</string>
						</array>
					</dict>
				</array>
				<key>Portrait</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>build.settings</key>
							<dict>
								<key>Path</key>
								<string>../_settings/build_portrait.settings</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>build.settings</string>
						</array>
					</dict>
				</array>
			</dict>
			<key>Values</key>
			<array>
				<string>Portrait</string>
				<string>Landscape</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
