<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commentSyntaxes</key>
	<array>
		<dict>
			<key>prefix</key>
			<string>--[[</string>
			<key>suffix</key>
			<string>]]</string>
		</dict>
		<dict>
			<key>prefix</key>
			<string>--</string>
		</dict>
	</array>
	<key>conformsToLanguageIdentifiers</key>
	<array>
		<string>Xcode.SourceCodeLanguage.Generic</string>
	</array>
	<key>fileDataTypeIdentifiers</key>
	<array>
		<string>com.apple.xcode.corona-source</string>
		<string>com.barebones.bbedit.lua-source</string>
		<string>org.lua.lua-source</string>
		<string>public.lua-source</string>
		<string>public.lua-script</string>
		<string>de.codingmonkeys.subethaedit.lua-source</string>
		<string>com.apple.xcode.lua-source</string>
		<string>org.tug.lua</string>
	</array>
	<key>identifier</key>
	<string>Xcode.SourceCodeLanguage.Corona</string>
	<key>isHidden</key>
	<false/>
	<key>languageName</key>
	<string>Solar2D Lua</string>
	<key>languageSpecification</key>
	<string>xcode.lang.corona</string>
	<key>supportsIndentation</key>
	<true/>
	<key>allowWhitespaceTrimming</key>
	<true/>
	<key>requiresHardTabs</key>
	<false/>
	<key>scriptingLanguage</key>
	<true/>
	<key>indentationTriggers</key>
	<array>
		<string>{</string>
		<string>}</string>
	</array>
</dict>
</plist>
