
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.coronaComposerProject</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Template for Corona SDK project using Composer.</string>

	<key>Definitions</key>
	<dict>
	    <key>main.lua</key>
                <dict>
        		<key>Path</key>
        		<string>main.lua</string>
		</dict>
		<key>scene1.lua</key>
                <dict>
        		<key>Path</key>
        		<string>scene1.lua</string>
		</dict>
		<key>scene2.lua</key>
                <dict>
        		<key>Path</key>
        		<string>scene2.lua</string>
		</dict>
		<key>Icon-60.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-60.png</string>
		</dict>
		<key>Icon-60@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-60@2x.png</string>
		</dict>
		<key>Icon-72.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-72.png</string>
		</dict>
		<key>Icon-72@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-72@2x.png</string>
		</dict>
		<key>Icon-76.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-76.png</string>
		</dict>
		<key>Icon-76@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-76@2x.png</string>
		</dict>
		<key>Icon-hdpi.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-hdpi.png</string>
		</dict>
		<key>Icon-ldpi.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-ldpi.png</string>
		</dict>
		<key>Icon-mdpi.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-mdpi.png</string>
		</dict>
		<key>Icon-Small-40.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-Small-40.png</string>
		</dict>
		<key>Icon-Small-40@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-Small-40@2x.png</string>
		</dict>
		<key>Icon-Small-50.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-Small-50.png</string>
		</dict>
		<key>Icon-Small-50@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-Small-50@2x.png</string>
		</dict>
		<key>Icon-Small.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-Small.png</string>
		</dict>
		<key>Icon-Small@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-Small@2x.png</string>
		</dict>
		<key>Icon-xhdpi.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-xhdpi.png</string>
		</dict>
		<key>Icon-xxhdpi.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon-xxhdpi.png</string>
		</dict>
		<key>Icon.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon.png</string>
		</dict>
		<key>Icon@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon@2x.png</string>
		</dict>
		<key>config.lua</key>
                <dict>
        		<key>Group</key>
        		<string>Settings</string>
			<key>Path</key>
			<string>config.lua</string>
		</dict>
		<key>build.settings</key>
                <dict>
        		<key>Group</key>
        		<string>Settings</string>
			<key>Path</key>
			<string>build.settings</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>main.lua</string>
		<string>scene1.lua</string>
		<string>scene2.lua</string>
		<string>config.lua</string>
		<string>Icon-60@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-72@2x.png</string>
		<string>Icon-76.png</string>
		<string>Icon-76@2x.png</string>
		<string>Icon-hdpi.png</string>
		<string>Icon-ldpi.png</string>
		<string>Icon-mdpi.png</string>
		<string>Icon-Small-40.png</string>
		<string>Icon-Small-40@2x.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small-50@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-xhdpi.png</string>
		<string>Icon-xxhdpi.png</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>build.settings</string>
		<string>Icon-60.png</string>
	</array>

	<key>ProjectOnly</key>
	<false/>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Your new product&apos;s name</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
