<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>net.shakebrowser.corona.base</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Product Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Your new product&apos;s name</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>LaunchScreen.storyboardc</key>
		<dict>
			<key>Group</key>
			<string>LaunchScreen</string>
			<key>Path</key>
			<string>LaunchScreen.storyboardc</string>
		</dict>
		<key>Images.xcassets</key>
		<dict>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>Path</key>
			<string>Images.xcassets</string>
		</dict>
		<key>AndroidResources</key>
		<dict>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>Path</key>
			<string>AndroidResources</string>
		</dict>
		<key>Icon.png</key>
		<dict>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>Path</key>
			<string>Icon.png</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>LaunchScreen.storyboardc</string>
		<string>Images.xcassets</string>
		<string>AndroidResources</string>
		<string>Icon.png</string>
	</array>
</dict>
</plist>
